*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.welcome-text{
    font-size: 30px;
    margin-top: 10px;
}

.Login-btn{
    padding: 5px 8px;
    border: none;
    border-radius: 14px;
    color: white;
    background: #ff4d4d;
    font-size: 12px;
    cursor: pointer;
    font-weight: 400;
}

/* title */

.title{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* SOS-btn */

.sos-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 34px;
}

.circle1{
    width: 300px;
    height: 300px;
    display: flex;
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.circle2{
    width: 250px;
    height: 250px;
    display: flex;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.circle3-btn{
    width: 200px;
    height: 200px;
    border-radius:100%;
    border: none;
    background-color: #ff4d4d;
    cursor: pointer;
    color: white;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.301);
}
.circle3-btn.onclick{
    background-color: #fe1f1f;
}
/* safe-mode-btn */

.safe-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.safe-btn{
    padding: 7px 20px;
    border: none;
    border-radius: 14px;
    color: white;
    background: #ff4d4d;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}
/* Bottom-nav-bar */

.nav-bar-bottom2{
    position: fixed;
    bottom: 0;
    height: 6vh;
    width: 100vw;
    background: linear-gradient(60deg, #ff0000, #8e0808);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links{
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
.nav-bar-bottom2 li{
    list-style: none;
}

#timerText {
    font-size: 40px;
    color: red;
}